@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: Inter;
}

@layer components{
  .cus-container{
    @apply container max-w-[90rem] px-[15px] md:px-[80px] lg:px-[135px] mx-auto 
  }
  .heading-text{
    @apply text-[26px] font-bold md:text-[42px] leading-8 md:leading-[56px]
  }
  .des-text{
    @apply text-[14px] font-normal md:text-[16px] leading-6
  }
  .bg{
    background-image: url(./images/bg.png);
    background-repeat: no-repeat;
  }
 
}